<a href="https://colab.research.google.com/github/Surya-Thotamsetty/Pythonlearn/blob/main/for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#minmax

def minmax(arr):
  arr.sort()
  a={"min":arr[0], "max":arr[-1]}
  return a
minmax(arr)
arr=[2,94,543]

print("min is",a["min"])print("max is",a["max"])

min is 2
max is 543

In [13]:
a = 20  
b = 30  
c = a + b  
def add():    

    print("The sum is:", c)  
add()  
print("The sum is:", c)

The sum is: 50
The sum is: 50

In [5]:
a=[1,"surya",3.45]
print(a[1:2]*3)

['surya', 'surya', 'surya']

In [7]:
a=(1,"surya",44.56,67)
print(a[2])
print(a[0:2])
a(4)="hlo"          #cant add values to tuples
print(a)

SyntaxError: ignored

In [10]:
d = {1:'Jimmy', 2:'Alex', 3:'john', 4:'mike'}     
print (d)   
print("1st name is "+d[1])   
print("2nd name is "+ d[4])      
print (d.keys())    
print (d.values())

{1: 'Jimmy', 2: 'Alex', 3: 'john', 4: 'mike'}
1st name is Jimmy
2nd name is mike
dict_keys([1, 2, 3, 4])
dict_values(['Jimmy', 'Alex', 'john', 'mike'])

In [2]:
a="surya"
for i in a:
  print(i)

s
u
r
y
a

In [4]:
a="surya"
for i in a:
  print(i, end='/ ')

s/ u/ r/ y/ a/

In [6]:
a=[12,34,54,67,53,5]
sum=0
for i in a:
  sum=sum + i
  print("sum =",sum)
  print("avg =",sum/len(a))    # the print statements are insife for loop soo it iterates all the numbers one by one

sum = 12
avg = 2.0
sum = 46
avg = 7.666666666666667
sum = 100
avg = 16.666666666666668
sum = 167
avg = 27.833333333333332
sum = 220
avg = 36.666666666666664
sum = 225
avg = 37.5

In [7]:
a=[12,34,54,67,53,5]
sum=0
for i in a:
  sum=sum + i
print("sum =",sum)
print("avg =",sum/len(a))

sum = 225
avg = 37.5

In [13]:
a=[12,34,54,64,245,423]
a.sort()
print(a[-1])

423

In [14]:
a=(23,45,4663,424564,4)
sum=0
for i in a:
  sum=sum+i
print("sum= ",sum)
print("avg= ",sum/len(a))

sum=  429299
avg=  85859.8

In [16]:
for i in range(1,10):
  print(i,end="")

123456789

In [18]:
for i in range(0,10,2):
  print(i)                  #prints i value with step 2

0
2
4
6
8

In [22]:
a=int(input("enter a number "))
for i in range(0,10):
  i=i+1
  b=a*i
  print(a,"*",i,"=",b)

enter a number 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [27]:
a=["surya","praju"]
for i in range(len(a)):
  print("hey",a[i])

hey surya
hey praju

In [28]:
a=["amazon","swiggy","zomato"]
for i in a:
  print(i)

amazon
swiggy
zomato

In [31]:
a=["amazon","swiggy","zomato"]
for i in a:
  print(i)
  for k in i:
    print(k)

amazon
a
m
a
z
o
n
swiggy
s
w
i
g
g
y
zomato
z
o
m
a
t
o
o

In [32]:
#for loop with else

for i in range(0,10,4):
  print(i)
else:
  print("closed")

0
4
8
closed

In [34]:
for i in range(0,10):
  if (i==7):
    break
  print(i)

0
1
2
3
4
5
6

In [37]:

for i in range(0,10):
  if i==4:
    continue
  print(i)

0
1
2
3
5
6
7
8
9

In [40]:
name=input("name ")
goals={'surya':12,'tarun':3,'praju':11}
for i in goals:
  if i==name:
    print(goals[i])
    break
else:
    print("no player")

name mahesh
no player
no player
no player



```
# This is formatted as code
```

a=[2,5,7,4,6]
cube=[]
for i in a:
  cube.append(i**3)
print(cube)