<a href="https://colab.research.google.com/github/Surya-Thotamsetty/Pythonlearn/blob/main/pytday1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
surya=print("you know what's more amazing than a butter naan?\n  ")
tarun=print("more butter naan's "*2)

surya="you know what's more amazing than a butter naan?\n"
tarun="more butter naan's"
print(surya+tarun)

you know what's more amazing than a butter naan?

more butter naan's more butter naan's
you know what's more amazing than a butter naan?
more butter naan's

In [ ]:
one_cheddy=int(250)
one_pant=int(900)
print(one_cheddy*3+one_pant*7)

7050

In [ ]:
fname="surya"
lname="setty"
print(f"{fname} 's full name is {fname} thotam {lname}")

surya 's full name is surya thotam setty

In [ ]:
name=input()
ffood=input()
print(f"{name} 's fav food is {ffood}")

surya
butter naan and baby corn curry
surya 's fav food is butter naan and baby corn curry

In [ ]:
name=input("what's ur name ")
bday=int(input("enter your birth year "))
cyear=int(input("enter the current year "))
age=cyear-bday
print(age )

name1=input("what's your frnd name")
byear=int(input("when were u born"))
cuyear=int(input("what year is this"))
age2=cuyear-byear
print(age2)

agediff=age2-age
print("the age difference btw the two is", agediff)

what's ur name surya
enter your birth year 2022
enter the current year 2032
10
what's your frnd nametarun
when were u born2020
what year is this2032
12
the age difference btw the two is 2

In [ ]:
#1km = 1000m
x=int(input("enter no of km "))
m=x*1000
print(x,"km is ",m,"meters")

enter no of km 3
3 km is  3000 meters

In [ ]:
intro='''
name = praju
age= 20
hobbies= to fascinate students'''
print(intro)

name = praju
age= 20
hobbies= to fascinate students

In [ ]:
name="magar govinda surya"
print(name[:])
print(name[:3])
print(name[3:9])
print(name[-1:])
print(name[0:3])

magar govinda surya
mag
ar gov
a
mag

In [ ]:
#formated text f"{}""
a=int(input())
b=a*2.204
print(f"{a} kg is {b} lbs")

72
72 kg is 158.68800000000002 lbs

In [ ]:
#len function this gives the size of the string. And .upper converts lower to upper. also title() fun which makes every starting letter of a word capital.
essay=('''Note : F-strings are faster than the two most commonly used string formatting mechanisms, which are % formatting and str.format(). 
  
Let’s see few error examples, which might occur while using f-string :
Code #3 : Demonstrating Syntax error. ''')
print(len(essay))
print(essay.upper())
print(essay.title())

244
NOTE : F-STRINGS ARE FASTER THAN THE TWO MOST COMMONLY USED STRING FORMATTING MECHANISMS, WHICH ARE % FORMATTING AND STR.FORMAT().

LET’S SEE FEW ERROR EXAMPLES, WHICH MIGHT OCCUR WHILE USING F-STRING :
CODE #3 : DEMONSTRATING SYNTAX ERROR.
Note : F-Strings Are Faster Than The Two Most Commonly Used String Formatting Mechanisms, Which Are % Formatting And Str.Format().

Let’S See Few Error Examples, Which Might Occur While Using F-String :
Code #3 : Demonstrating Syntax Error.

In [ ]:
#find function and it is case sensitive if the given letter is not found it prints -1
name=("kdhsigkgikgsegvberiyy")
print(name.find('a'))
study=("i love studying")
print(study.find("love"))

-1
2

In [ ]:
#replace function and it is case sensitive like find function and if the letter is changed in its sensitivity it doenst replace anything
a=("gitam tho sadhidham ")
b=("emundhani sadhincheki")
c=a+b
print(c)
print(c.replace("sadhincheki","akkada"))
print(c.replace("Sadhincheki","akkada"))

gitam tho sadhidham emundhani sadhincheki
gitam tho sadhidham emundhani akkada
gitam tho sadhidham emundhani sadhincheki

In [ ]:
#in function is used to find if a string is present in particular sentence. It is a boolean function and gives output as either true or false
intro=input("")
print("a**hole" in intro)

this is surya of cse iot and tarun is an asshole
False

In [ ]:
 #arithematic operations
a=int(input("enter a number"))
b=int(input("enter another number "))
add=(a+b)
print("the addition of a and b is ",add)
sub=(a-b)
print("the subtraction of a and b is ",sub)
mul=(a*b)
print("the multiplication of a and b is ",mul)

div=(a/b)
print("the division of a and b in float number is ",div)
divi=(a//b)
print("the division of a and b in integer is ",divi)
divis=(a%b)
print("the division of a and b to get the remainder is ",divis)
sqe=(a**b)
print("the power of a and b is ",sqe)  #exponentiation or power = **

enter a number42
enter another number 3
the addition of a and b is  45
the subtraction of a and b is  39
the multiplication of a and b is  126
the division of a and b in float number is  14.0
the division of a and b in integer is  14
the division of a and b to get the remainder is  0
the power of a and b is  74088

In [ ]:
#augumented operators are like +=, -=, *=, /=, ........
a=int(input())   #a=2
b=int(input())   #b=3
print(a+b)       #a+b=5
a=a*b            #a=2*3=6
print(a)         #now a = 6
a*=b             #(a*=b)  =  (6*=3) = 18


print(a)

2
3
5
6
18

In [ ]:
#Bodmas paranthesis, exponential, division, multiplication, addition, subtraction.
a=(32-12)+23/2*2**3
print (a)

112.0

In [ ]:
#round(which gives the round figure of floating numbers) and abs(absolute which always gives positive value)
a=float(input())
b=float(input())
print(abs(a-b))
print(a-b)
print(round(a/b))
print(a/b)

33.23
45.32
12.090000000000003
-12.090000000000003
1
0.7332303618711385

In [ ]:
#math operations using import math function . Few examples of math functions are ceil, floor, 
import math
a=12
b=13.32
print(math.ceil(a+b))
print(math.floor(a+b))
print(math.fabs(3.34))

26
25
3.34

In [ ]:
price=int(input("price of house is "))
profit=True
if profit:
  dpayment=price*0.1
else:
  dpayment=price*0.2
print(f'down payment is ${dpayment}')

price of house is 1000000
down payment is $100000.0

In [ ]:
#simple interest= (Amount*Year*Rate)/100
amount=int(input("enter the amount"))
years=int(input("enter no of years"))
roi=float(input("enter the rate of interest"))
simple_interest=(amount*years*roi)/100
print(simple_interest)

enter the amount3000
enter no of years32
enter the rate of interest1.6
1536.0

In [ ]:
                                                                          # python day 2

In [ ]:
name=input("whats ur name ")
size=int(input("ur size "))
cls=int(input("which class are u studying "))
a=f'my name is {name} and my size is {size} i am studying in {cls} class'
print(a.upper())
print(a.title())

whats ur name fesfeef
ur size 34
which class are u studying 21
MY NAME IS FESFEEF AND MY SIZE IS 34 I AM STUDYING IN 21 CLASS
My Name Is Fesfeef And My Size Is 34 I Am Studying In 21 Class

In [ ]:
#if statement
name=input("whats ur name")
looks = input("does he look hot (yes/no)")
if looks == "yes":
  print(f"lets go on a date {name}")
elif looks == "no":
  print("i dont even know who u are")
else:
  print("sorry wrong ans")

whats ur namesurya
does he look hot (yes/no)fjsdlf
sorry wrong ans

In [ ]:
price=1000000
has_good_credit=True

if has_good_credit:
  d_payment=0.1*price
else:
  d_payment=0.2*price
print(d_payment)

100000.0

In [ ]:
# logical operators AND, OR, NOT(boolean and it changes true to false and viceversa)

has_dk= False
is_gay= True

if has_dk and not is_gay:
  print("he is a gay")
else:
  print("he is a man")

he is a man

In [ ]:
#comparision operators >, >=, <, <=, ==, !=

profit=int(input(""))
expences=int(input(""))
if profit>expences:
  print("you are happy")
elif profit==expences:
  print("neither happy nor broke")
else:
  print("you are broke")

30000
23000
you are happy

In [ ]:
name=input("ur name ")
if len(name)<3:
  print("name must be atleast 3 char ")
elif len(name)>50:
  print("name cant be more than 50 ")
else:
  print("ur names good ")

ur namesurya
ur names good

In [ ]:
                                                                                #Day 3

In [ ]:
name=input("whats ur name ")
if len(name)<3:                                         
  print("name must be atleast 3 chars")
elif len(name)>6:
  print("name cant exceed 50 chars")
else:
  print("name looks good")

whats ur name se
name must be atleast 3 chars

In [ ]:
i=10
while i>5:
  i=i-1
  print("surya")

surya
surya
surya
surya
surya

In [ ]:
a=int(input())
while a<13:
  a=a+1
  print("surya")

11
surya
surya

In [ ]:
#guess game
chances=3
num=13
while chances>0:
  chances=chances-1
  b=int(input("guess the number"))
  if b==num:
    print("u r right")
    break;
  else:
    print("try again")

guess the number13
u r right

In [ ]:
#car help program
x=input("how may i help ")
if x=="start":
  print("to start the car")
elif x==("stop" or "STOP"):
  print("to stop the car")
elif x==("exit" or "EXIT"):
  print("to exit")
else:
  print("i dont understand")

what do u want adsffd
how may i help sfdas
i dont understand