<a href="https://colab.research.google.com/github/Surya-Thotamsetty/Pythonlearn/blob/main/python_day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#functions

def surya():
  a=input("tell me about ur self ")
  print('my self {} of CSE IOT'.format(a))
surya()

tell me about ur self surya
my self surya of CSE IOT

In [13]:
sum=0
for i in range(1,26):
  sum=sum+i
print(sum)
count=0
for j in range(50,77):
  count=count+j
print(count)
add=0
for k in range(90,102):
  add=add+k
print(add)

325
1701
1146

In [15]:
def sum(x,y):
  s=0
  for i in range(x,y+1):
    s=s+i
  print("sum of integers from" ,x, "to ",y, "is", s)
sum(1,25)
sum(50,76)
sum(90,101)

sum of integers from 1 to  25 is 325
sum of integers from 50 to  76 is 1701
sum of integers from 90 to  101 is 1146

In [17]:
def max(a,b):
  print("num1=",a)
  print("num2=",b)
  if a>b:
    print("a is greates {}".format(a))
  elif b>a:
    print("b is greater {}".format(b))
  else:
    print("a is equal to b ")
max(43,54)

num1= 43
num2= 54
b is greater 54

In [25]:
def fact():
  a=int(input("enter a number "))
  for i in range(1,a):
    a=a*i
  print("the factorial is",a)
  
fact()

enter a number 6
the factorial is 720

In [27]:
def display(name,age):
  print("name=", name,"age=",age)
display(20,"surya")
display("mohan",19)

name= 20 age= surya
name= mohan age= 19

In [29]:
def meet(name,say="speed 1 tb memory 1 gb"):
  print("hello world I am",name,say)
meet("surya")

hello world I am surya speed 1 tb memory 1 gb

In [35]:
import math
def area(r):
  print("area of circle is",math.pi*r*r)
area(4)

area of circle is 50.26548245743669

In [36]:
#local and global variables

a="surya"
def name():
  global a
  a="mohan"
  print("i am {}".format(a))
name()
print("i am {}".format(a))

i am mohan
i am mohan

In [37]:
def greater(a,b):
  if a>b:
    return a
  elif a<b:
    return b
  else:
    return "both are equal"
  
a=int(input("enter a "))
b=int(input("enter b "))

greater(a,b)

enter a 4
enter b 6

6

In [45]:
import math
def distance(x1,x2,y1,y2):
  a=x2-x1
  b=y2-y1
  X=a*a
  Y=b*b
  c=X+Y
  v=math.sqrt(c)
  return v
x2=int(input("x2 is "))
x1=int(input("x1 is "))
y2=int(input("y2 is "))
y1=int(input("y1 is "))
print("distance is ",distance(x1,x2,y1,y2))

x2 is 4
x1 is 2
y2 is 4
y1 is 2
distance is  2.8284271247461903

In [55]:
import math
def dis(a,b,c):

  d=pow(b,2)
  e=d-4*a*c
  if e>0:
    return "equation has 2 equal roots"
  elif d==0:
    return "the equation has one root"
  else:
    return "equation has 2 complex roots"
a=int(input())
b=int(input())
c=int(input())
dis(a,b,c)

3
245
3

'equation has 2 equal roots'

In [56]:
import math
def dis():
  a=int(input())
  b=int(input())
  c=int(input())
  d=pow(b,2)
  e=d-4*a*c
  if e>0:
    return "equation has 2 equal roots"
  elif d==0:
    return "the equation has one root"
  else:
    return "equation has 2 complex roots"

print(dis())

2
1
2
equation has 2 complex roots

In [62]:
def cal():
  a=int(input(""))
  b=int(input(""))
  return "sum is =",a+b, "sub is= ",a-b
print(cal())

3
7
('sum is =', 10, 'sub is= ', -4)

In [66]:
#recurssive  is  calling the function by itself


def fact():
  n=int(input(""))
  if n==0:
    return 1                               #when parameters are given cannot assign variable at the start
  return n*fact(n-1)

fact()

4

TypeError: ignored

In [67]:
def fact(n):
  
  if n==0:
    return 1
  return n*fact(n-1)
n=int(input(""))
fact(n)

5

120

In [71]:
def fib(n):
  if n==0:
    return 1
  if n==1:
    return 1

  return fib(n-1)+fib(n-2)
n=int(input(""))
print(fib(n))

8
34

In [79]:
def reverse():
  a=input("enter a string")
  b=input("enter a string")
  if a[::-1]==b:
    return True
  return False
reverse()

enter a stringsurya
enter a stringayrus

'True'

In [75]:
a="surya"
b=a[::-1]
print(b)

ayrus

In [89]:
def order():
  a=input("enter a string")
  b=input("enter a string")
  c=a.upper()
  d=b.upper()
  print (c+d+d+c)
  return (c+d+d+c)
order()

enter a stringsurya
enter a stringchany
SURYACHANYCHANYSURYA

'SURYACHANYCHANYSURYA'

In [95]:
a=[10,20,31.3,40,39.2]
b[a]=(1.8*[a])+32
print(b)

TypeError: ignored

In [97]:
a=float(input("enter celcius"))
b=(a*1.8)+32
print(b)

enter celcius10
50.0

In [98]:
c=[]
a=int(input(""))
for i in range(a):
  b=float(int(input("")))
  c.append(b)
print(c)
f=[((float(9)/5)*x+32) for x in c]
print(f)

2
34
43
[34.0, 43.0]
[93.2, 109.4]

In [105]:
l=[1,2.32,"surya",3,4.5]

l2=[e for e in l if type(e)==int]
print(l2)

[1, 3]

In [ ]:
list=[1,2,2,3,3,4]
c=0
for i in list: