<a href="https://colab.research.google.com/github/Surya-Thotamsetty/Pythonlearn/blob/main/python_day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=open("py sur.txt","r")
print(a.read())

i love python

In [ ]:
def main():
  b=int(input())
  a=open("surya.txt","w")
  a.write("just kidding i just started learning python \n")
  a.write("join the session by {} o clock...".format(b))
  a.close()
main()

4

In [ ]:
def main():
  a=open("chanty.txt","w")
  for x in range(1,21):
    x=str(x)
    a.write(x)
  a.close()
main()

In [ ]:
from random import randint 

a=open("chanty1.txt","w")
for x in range(51):
  x=randint(500,1001)
  x=str(x)
  a.write(x+" ")

a.close()

In [ ]:
a=open("surya.txt","r")
for line in a:
  print(line)

just kidding i just started learning python

join the session by 4 o clock...

In [ ]:
a=open("surya.txt","r")
b=a.read()
print(b)
print(type(b))

<class 'str'>

In [ ]:
a=open("numbers.txt","r")
num=int(a.readline())
print(num)
sum=0
print("the",num,"present is the file are:")
for i in range(num):
  num1=int(a.readline())
  print(num1)
  sum=sum+num
print(sum)

3
the 3 present is the file are:
34
56
32
9

In [ ]:
s="i love python python loves me"
print(s.split())
for i in range(len(s)):
  print(s[i])

['i', 'love', 'python', 'python', 'loves', 'me']
i

l
o
v
e

p
y
t
h
o
n

p
y
t
h
o
n

l
o
v
e
s

m
e

In [ ]:
a=open("marks.txt","r")
n=int(a.readline())
print("total stu: ",n)
for i in range(n):
  print("student ",i+1,end='')
  allgrades=(a.readline().split())
  print(allgrades)
  sum=0
  for j in range(len(allgrades)):
    sum=sum+int(allgrades[j])
    percent=float((sum/500)*100)
  print("total =",sum,"\n percentage = ",percent)
  print("\n")

total stu:  5
student  1['67', '56', '43', '56', '34']
total = 256
 percentage =  51.2


student  2['34', '24', '53', '32', '56']
total = 199
 percentage =  39.800000000000004


student  3['45', '65', '43', '42', '65']
total = 260
 percentage =  52.0


student  4['46', '43', '56', '43', '34']
total = 222
 percentage =  44.4


student  5['45', '43', '65', '43', '45']
total = 241
 percentage =  48.199999999999996

In [ ]:
a=open("text.txt","r")
b=a.readline()
d=a.read()
print(d)
print(b)
c=b.count("")
print(c)
e=d.count("")
print(e)

How to use:

1. choose your text or image that would be like to be copy to other device by putting your text in the following text box, or just copy your text or image.

2. Send your text or image to Online Clipboard by the following button.

3. At the other device, retrieve your text or image from Online Clipboard by entering your code.
Online Clipboard is free online tool that help you to copy and paste between devices. It allows you to copy text or image.

124
341

In [ ]:
def Find_largest(fp1):
  fp1=open('text.txt','r')
  long=" " #Assume Longest Line=0
  L=0
  count=0
  for line in fp1:
    count=count+1
    print('Line No:',count)
    print(line)
    print("Number of character=",len(line))
    print('-------------------------------')
    if (len(line) > len(long)):
      long=line
      L=line
    print(L,'is the largest Line with',len(long),'characters')
fp=open('text.txt',"r")
Find_largest(fp)

Line No: 1
Online Clipboard is free online tool that help you to copy and paste between devices. It allows you to copy text or image.

Number of character= 123
-------------------------------
Online Clipboard is free online tool that help you to copy and paste between devices. It allows you to copy text or image.
 is the largest Line with 123 characters
Line No: 2


Number of character= 1
-------------------------------
Online Clipboard is free online tool that help you to copy and paste between devices. It allows you to copy text or image.
 is the largest Line with 123 characters
Line No: 3
How to use:

Number of character= 12
-------------------------------
Online Clipboard is free online tool that help you to copy and paste between devices. It allows you to copy text or image.
 is the largest Line with 123 characters
Line No: 4


Number of character= 1
-------------------------------
Online Clipboard is free online tool that help you to copy and paste between devices. It allows you to copy text or image.
 is the largest Line with 123 characters
Line No: 5
1. choose your text or image that would be like to be copy to other device by putting your text in the following text box, or just copy your text or image.

Number of character= 156
-------------------------------
1. choose your text or image that would be like to be copy to other device by putting your text in the following text box, or just copy your text or image.
 is the largest Line with 156 characters
Line No: 6


Number of character= 1
-------------------------------
1. choose your text or image that would be like to be copy to other device by putting your text in the following text box, or just copy your text or image.
 is the largest Line with 156 characters
Line No: 7
2. Send your text or image to Online Clipboard by the following button.

Number of character= 72
-------------------------------
1. choose your text or image that would be like to be copy to other device by putting your text in the following text box, or just copy your text or image.
 is the largest Line with 156 characters
Line No: 8


Number of character= 1
-------------------------------
1. choose your text or image that would be like to be copy to other device by putting your text in the following text box, or just copy your text or image.
 is the largest Line with 156 characters
Line No: 9
3. At the other device, retrieve your text or image from Online Clipboard by entering your code.
Number of character= 96
-------------------------------
1. choose your text or image that would be like to be copy to other device by putting your text in the following text box, or just copy your text or image.
 is the largest Line with 156 characters

In [ ]:
fp1=open("weekdays.txt","w+")
fp1.write("Monday\n")
fp1.write("tuesday\n")
fp1.write("Wednesday\n")
fp1.write("Thursday\n")
fp1.write("Friday\n")
fp1.seek(0)
t=fp1.read()
fp1.seek(0,2)
fp1.write("Saturday\n")
fp1.write("Sunday\n")
fp1.seek(0)
t=fp1.read()
print(t)

Monday
tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [ ]:
def square(num):
  return num*num
a=map(square,[1,43,2,4])
print(a)
print(set(a))

<map object at 0x7f3460be9280>
{16, 1, 4, 1849}

In [ ]:
def add(a,b):
  return a+b
l2=map(add,[1,2,3,4],[5,6,7,8])
print(list(l2))

[6, 8, 10, 12]

In [ ]:
def square(num):
  return num*num
l1=map(square,[12,4,2,5])
print(l1)
print(set(l1))

<map object at 0x7f3460be9c10>
{144, 16, 4, 25}

In [ ]:
def double(num):
  if num%2==0:
    return num+num
  else:
    return num
print(list(map(double,[12,3,22,13,5,76])))

[24, 3, 44, 13, 5, 152]

In [ ]:
# Concatinate
def concat(c1,c2):
  return c1+c2

print(list(map(concat,"catty","doggy")))

['cd', 'ao', 'tg', 'tg', 'yy']

In [ ]:
def concat(c1,c2):
  return c1+c2
print(list(map(concat,"doggy","catty")))

['dc', 'oa', 'gt', 'gt', 'yy']

In [ ]:
#To find the sum of elements of a list
from functools import reduce
def sum(a,b):
  return a+b

res=reduce(sum,[1,2,3,4,5])
print(res)

15

In [ ]:
from functools import reduce
def sum(a,b):
  return a+b

#using initailizer as 2
res=reduce(sum,[1,2,3,4,5],2)
print(res)

17

In [ ]:
from functools import reduce
def check_num(a,b):
  return a if a<b else b
# using initializer as 1
res=reduce(check_num,[15,2,3,4,5],1)
print(res)

1

In [ ]:
def check_odd(num):
  if num%2!=0:
    return True
  return False
res=filter(check_odd,[12,3,45,7,6,6,54,23])
print(list(res))

[3, 45, 7, 23]

In [ ]:
def check_string(s1):
  if len(s1)>5:
    return s1
print(list(filter(check_string,["Apple","Cat","Bat","Doll","Peacock"])))

['Peacock']