<a href="https://colab.research.google.com/github/Surya-Thotamsetty/Pythonlearn/blob/main/python_day2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
               #if and else condition

movie=input("enter a mmovie name ")
if movie=="bambolenath":
  print("i dont think such movie exists")
else:
  print("i love that movie")
print("BTW why are we talking about movies")

enter a mmovie name sye
i love that movie
BTW why are we talking about movies

In [5]:
budget=int(input("enter a number"))
if budget>=60000:
  print("i will go to dubai")
else:
  print("i will go home")
print("manam goa pothunnam")

enter a number5000
i will go home
manam goa pothunnam

In [8]:
num=int(input())
if num:
  print("false")
print("this will execute")

9
false
this will execute

In [10]:
a=int(input("enter a number"))
if a==0:
  print("zero")
elif a==1:
  print("one")
elif a==2:
  print("two")
elif a==3:
  print("three")
elif a==4:
  print("four")
elif a==5:
  print("five")
elif a==6:
  print("six")
elif a==7:
  print("seven")
elif a==8:
  print("eight")
elif a==9:
  print("nine")
elif a==10:
  print("ten")
else:
  print("the number is not given")

enter a number13
the number is not given

In [12]:
         #Positive or negative
num=int(input("enter a number"))
if num%7==0:
  print("it is divisible by 7")
else:
  print("it is not divisible by 7")

enter a number6
it is not divisible by 7

In [80]:
num=int(input("enter a number"))
for i in range(1,21):
  print(num,'x',i,'=',num*i)

enter a number7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105
7 x 16 = 112
7 x 17 = 119
7 x 18 = 126
7 x 19 = 133
7 x 20 = 140

In [22]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
num3=int(input("enter a number"))
if num1>num2>num3:
  print("{} is greater than {} is greater than {}".format(num1,num2,num3))
elif num2>num3>num1:
  print("{} is greater than {} is greater than{}".format(num2,num3,num1))
elif num3>num1>num2:
  print("{} is greater than {} is greater than{}".format(num3,num1,num2))
else:
  print("the order is not specified")

enter a number54
enter a number66
enter a number23
the order is not specified

In [24]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
num3=int(input("enter a number"))
if num1>num2 and num1>num3:
  print("{} is greater".format(num1))
elif num2>num3 and num2>num1:
  print("{} is greater".format(num2))
else:
  print("{} is greater".format(num3))

enter a number45
enter a number32
enter a number65
65 is greater

In [31]:
grade=int(input("enter the marks"))
if grade>=80 and grade<=100:
  print("o grade")
elif grade>=60 and grade<=79:
  print("a grade")
elif grade>=40 and grade<=59:
  print("b grade")
elif grade>=35 and grade<=39:
  print("p ")
elif grade<35:
  print("f")
else:
  print("no such marks")

enter the marks6
f

In [34]:
a=input("enter smtg ")

print("{} is the best song till date".format(a)) if a=="dandalions" else print("its an ok song") if a=="night chaanges" else print(" it's  a great song")

enter a smtg night changes
 it's  a great song

In [41]:
              #if else statements in a sigle line         this does not support elif

a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
d=int(input("enter a number"))
print("a is greater") if a>b and a>c and a>d else print("b is greater") if b>c and b>a and b>d else(print ("c is greater")) if c>a and c>b and c>d else print("d {} is greater".format(d))

enter a number65
enter a number43
enter a number54
enter a number4567
d 4567 is greater

In [58]:
             #loops
#while loops
a=0
while a<5:
  
  print("woahhðŸ”¥")
  a=a+1

woahhðŸ”¥
woahhðŸ”¥
woahhðŸ”¥
woahhðŸ”¥
woahhðŸ”¥

In [53]:
            #for loops can be used with else            list[]     tuple()
n=6
for i in range(n):
  print("surya")
for i in range(0,n):
  #print(i)
  i=i+8
  print(i)
for i in range(0,n,2):
  print(i)

surya
surya
surya
surya
surya
surya
8
9
10
11
12
13
0
2
4

In [57]:
a="surya"
for i in a:
  print(i)
else:
  print("surya")

s
u
r
y
a
surya

In [59]:
            #nested loops

for i in range(1,6):
  for j in range(i):
    print(i,end='')
  print()

1
22
333
4444
55555

In [60]:
          #break

count=0
while count<=10:
  print(count)
  count+=1
  if count==4:
    break

0
1
2
3

In [61]:
           #continue

count=0
while count<=10:
  count+=1
  print(count)
  if count==4:
    continue

1
2
3
4
5
6
7
8
9
10
11

In [67]:
for i in range(1,6):
  for j in range(i):
    print('*',end='')
    i=i+1
  print()

*
**
***
****
*****

In [76]:
time=(input("enter the time"))
if time=="1 hour":
  print("20 rupees")
elif time=="half hour":
  print("10 rupees")
else:
  print("100 rupees")

enter the time56
100 rupees

In [77]:
a=float(input("Enter the hours : "))
if a==0.5:
  print("10 rupees")
elif a==1:
  print(" 20 rupees")
else:
  print(" 100 rupees")

Enter the number : 0.5
10 rupees