<a href="https://colab.research.google.com/github/Surya-Thotamsetty/Pythonlearn/blob/main/python_day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
          #sets

s1={1,'surya',43}
s2={1,'mohan',453,43}
print(s2.issubset(s1))

False

In [13]:
s1={'mohan',2,'surya'}
print(s1)
s1.add('praju')
print(s1)
s1.remove('surya')
print(s1)
s1.clear()
print(s1)

{2, 'mohan', 'surya'}
{'praju', 2, 'mohan', 'surya'}
{'praju', 2, 'mohan'}
set()

In [28]:
s1='gitam university'
s2='gitam'
s3=s1.split()
print(s3)
print(s2 in s1)

['gitam university']
True

In [30]:
a={1,'surya',2,'mohan',3,'praju'}
b={1,2,3}
a.issuperset(b)

True

In [31]:
a="surya"
print(a)
b=set(a)
print(b)
c=list(a)
print(c)
d=tuple(a)
print(d)

surya
{'s', 'y', 'a', 'r', 'u'}
['s', 'u', 'r', 'y', 'a']
('s', 'u', 'r', 'y', 'a')

In [33]:
a={1,'surya',2,'mohan',3,'praju'}
b={1,2,3}
c=a in b
print(c)

False

In [38]:
s1={1,'surya','chanty',2747}
s2={2,'surya','surya',2747}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1^s2)
print(s1-s2)

{1, 'surya', 'chanty', 2, 2747}
{'surya', 2747}
{1, 'chanty'}
{1, 2, 'chanty'}
{1, 'chanty'}

In [39]:
s1={1,'surya','chanty',2747}
s2={2,'surya','surya',2747}
s1.symmetric_difference(s2)

{1, 2, 'chanty'}

In [44]:
             #dictionaries

a={
    "surya":"8025",
    "mohan":"8034"
}
print(a["surya"])

8025

In [46]:
a={
    "surya":"8025",
    "mohan":True,
   "praju":876
}
print(a)

{'surya': '8025', 'mohan': True, 'praju': 876}

In [47]:
a={}
a['mohan']='8034'
a['praju']='7032'
print(a)

{'mohan': '8034', 'praju': '7032'}

In [49]:
a=dict(surya='name',mohan=46)
print(a)

{'surya': 'name', 'mohan': 46}

In [51]:
a={"surya":"8025","mohan":True,"praju":876}
a["bholenath"]=False
print(a)

{'surya': '8025', 'mohan': True, 'praju': 876, 'bholenath': False}

In [57]:
a={"surya":"8025","mohan":True,"praju":876}
a["bholenath"]=False
a.update({"surya":'hot'})
print(a)

{'surya': 'hot', 'mohan': True, 'praju': 876, 'bholenath': False}

In [63]:
a={}
a['mohan']='cool'
a['praju']=75
print(a)
b="%(mohan)s is mohan and %(praju)d is prajus weight"%a
print(b)

{'mohan': 'cool', 'praju': 75}
cool is mohan and 75 is prajus weight

In [76]:
a={
    'mohan':76,
   'praju':54,
   'chanty':45
}
del a['chanty']
print(a)
b="the weight of mohan is %(mohan)d, praju is %(praju)d "%a
print(b)
a.keys()
a.values()

{'mohan': 76, 'praju': 54}
the weight of mohan is 76, praju is 54

dict_values([76, 54])

In [86]:
a={
    'mohan':76,
   'praju':54,
   'chanty':45
}
del a['chanty']
print(a)
b="the weight of mohan is %(mohan)d, praju is %(praju)d "%a
print(b)
a.get('praju')

# keys    values     items    clear   get(key)    pop(key)    clear

{'mohan': 76, 'praju': 54}
the weight of mohan is 76, praju is 54

54

In [74]:
a={
    'mohan':76,
   'praju':54,
   'chanty':45
}
b={
    'mohan':'hema',
   'praju':'yashu',
   'chanty':'45'
}
print(a)
print(b)
print(a==b)
print(a!=b)

{'mohan': 76, 'praju': 54, 'chanty': 45}
{'mohan': 'hema', 'praju': 'yashu', 'chanty': '45'}
False
True

In [87]:
grades={'surya':'a','mohan':'a+','praju':'a++'}
for key in grades:
  print(key,':',str(grades[key]))

surya : a
mohan : a+
praju : a++

In [92]:
a={
    'mohan':76,
   'praju':54,
   'chanty':45
}
b={
    'mohan':'hema',
   'praju':'yashu',
   'chanty':'45'
}
for key in a:
  print(key,':',a[key])
print()
for key in b:
  print(key,':',b[key])

mohan : 76
praju : 54
chanty : 45

mohan : hema
praju : yashu
chanty : 45

In [97]:
gstd={'tarun':{'president':'now','photographer':'then'},
      'karthik':{'vp':'now','lp':'then'}}
print(gstd['tarun']['photographer'])
print(gstd['karthik']['vp'])

then
now

In [102]:
a=input("enter a string ")
b=int(input("enter the position "))
count=0
for i in a:
  count=count+1
  if count==b:
    print(i)

enter a string surya
enter the position 3
r

In [106]:
def surya (a,b):
  return(a*b)
a=3
b=5
result=surya(a,b)
print(result)

15

In [113]:
#delete a letter from a word

def remove_letter(word,letter):
  print("word=",word)
  print("letter=",letter)
  
  newstr=word.replace(letter,"")
  return newstr
a=remove_letter("surya","y")
print(a)

word= surya
letter= y
sura

In [116]:
def surya(name,num):
  print("name=",name)
  print("num=",num)
  newnum=num.replace(num,'')
  return newnum
a=surya("surya",'nau')
print(a)

name= surya
num= nau

In [145]:
"""a=input(enter a string )

b=print(a.count('a'))
c=print(a.count('e'))
d=print(a.count('i'))
e=print(a.count('o'))
f=print(a.count('u'))"""

a=input("enter a sring ")
count=0
for i in a:
  if i in ("a","e","i","o","u") :
    if (i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
      count=count+1
    print(i,':', count ,end='')

enter a sring uuu
u : 1u : 2u : 3

In [136]:
a=input("enter a string")
for i in a:
  if i in ('a','e','i','o','u'):
    
    print("vowels")

enter a stringsurya

In [137]:
s=input("enter a string  ")
c=0
for i in s:
  if i in("a","e","i","o","u"):
    if (i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
      c=c+1
    print(i,":",c,end=" ")

enter a string  surya
u : 1 a : 2

In [147]:
def string(word):
  new=""
  print("string",word)
  for i in word:
    if (i=='a'or i=='e'or i=='o'or i=='i'or i=='u'):
      new=new+i.upper()
    else:
      new=new+i
  return new
x=string("surya thotamsetty")
print(x)

string surya thotamsetty
sUryA thOtAmsEtty

In [159]:
def string(word):
  c=0
  print("the string is",word)
  for i in word:
    if i in("a","e","i","o","u"):
      if (i=='a'or i=='e'or i=='o'or i=='i'or i=='u'):
        c=c+1
      return i,":",c
x=string("surya")
print(x)

the string is surya
('u', ':', 1)

In [173]:
def st(word):
  c=0
  print("the strig is",word)
  for i in word:
    if i in ("a","e","i","o","u"):
      if (i=='a'and i=='e'and i=='o'and i=='i'and i=='u'):
        c=c+1
        newst=word.replace(i,'!i')
        return newst
x=st("surya thotamsetty")
print(x)

the strig is surya thotamsetty
None

In [180]:
x= int(input())
sum=0
while x:
  dig=x%10
  x=x//10
  sum=sum+dig
print(sum)

345
12

In [182]:
a=int(input())
sum=0
product=0

dig=x%10
b=x//10
sum=dig+b
if sum==a:
  print("number is divisible by its sum {}".format(a))

18