<a href="https://colab.research.google.com/github/Surya-Thotamsetty/Pythonlearn/blob/main/python_day_1_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cp=int(input("enter the cost price "))
sp=int(input("enter the selling price "))
profit=sp-cp
print("the profit is ",profit)

enter the cost price45
enter the selling price56
the profit is  11

In [ ]:
a=int(input("enter a number"))
square=a*a
cube=a*a*a
print(square)
print(cube)

enter a number4
16
64

In [ ]:
a=int(input("enter the marks of 1st student"))
b=int(input("enter the marks of 2nd student"))
c=int(input("enter the marks of 3rd student"))
#d=int(input("enter the marks of 4rth student"))
#e=int(input("enter the marks of 5th student"))
avg=(a+b+c)/3
print("the avg of the marks is %.8f"%(avg))

enter the marks of 1st student23
enter the marks of 2nd student45
enter the marks of 3rd student67
the avg of the marks is 45.00000000

In [ ]:
a=float(input("enter a number"))
b=float(input("enter a number"))
add=a+b
print("the sum of a and b is %.2f"%(add))
sub=a-b
print("the sub of a and b is %.2f"%(sub))
mul=a*b
print("the mul of a and b is %.2f"%(mul))
div=a/b
print("the div of a and b is %.2f"%(div))

enter a number34.56
enter a number54.3456
the sum of a and b is 88.91
the sub of a and b is -19.79
the mul of a and b is 1878.18
the div of a and b is 0.64

In [ ]:
a=45
b=556.7
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [ ]:
num=1234
r1=(num%10)
print(r1)
n1=(num//10)
print(n1)
r2=(n1%10)
print(r2)
n2=(n1//10)
print(n2)
r3=(n2%10)
print(r3)
n3=(n2//10)
print(n3)
r4=(n3%10)
print(r4)
n4=(n3//10)
print(n4)
print(r1,r2,r3,r4)

4
123
3
12
2
1
1
0
4 3 2 1

In [ ]:
x1=int(input("enter a num"))
x2=int(input("enter a num"))
b=(x2-x1)**2
y1=int(input("enter a num"))
y2=int(input("enter a num"))
c=(y2-y1)**2
d=b+c
a=d
print(d)



x1,x2,x3,x4=3,4,5,6
exp="(x2-x1)**2+(y2-y1)**2"
eval(exp)

enter a num3
enter a num4
enter a num5
enter a num6
2

2

In [ ]:
name=input("enter your name")
number=input("enter a 7 digit number")
print(name+number[-2:])

enter your namesurya
enter a 7 digit number1234567
surya67

In [ ]:
a=int(input("how many bottles u have less than 1 lt"))
b=int(input("how many bottles u have more than 1 lt"))
refund=0.2*b+0.1*a
print("total refund is $",refund)

how many bottles u have less than 1 lt2
how many bottles u have more than 1 lt5
total refund is $ 1.2