<a href="https://colab.research.google.com/github/Surya-Thotamsetty/Pythonlearn/blob/main/python_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
      #python Keywords
import keyword
print("the python keywords are",keyword.kwlist)

the python keywords are ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
        #variables
a=12.3
print(a)
print(type(a)) #to see the datatype of the variable
print(id(a))   #to see the location of the variable



b=True
print(b)
print(type(b)) #to see the datatype of the variable
print(id(b)) #to see the id of the variable

12.3
<class 'float'>
140008231658928
True
<class 'bool'>
11399552

In [6]:
     #redeclare and reassign variables

a=10
print(a)
a=20                     
print(a)
b=a
print(b)

10
20
20

In [8]:
        #multiple assignment
  
a,b,c="surya's age is",20,"years"
print(a,b,c)

surya's age is 20 years

In [9]:
      #complex datatypes

a=3+4j
print(a)
print(type(a)) #to see the datatype of the variable

(3+4j)
<class 'complex'>

In [12]:
        #type casting

"conversion from one datatype to another is called as Type Casting"

#implicit type conversion

a=10
b=12.34
c=a+b
print(c)
print(type(c)) #to see the datatype of the variable


#Explicit type conversion

a=input("whats ur name ")
print(a)                                  #by default input datatype is taken as str

print(type(a)) #to see the datatype of the variable


b=int(input("whats ur name "))
print(b)                                  #so we use int(), str(), double(), float(), etc to change its datatype
print(type(b)) #to see the datatype of the variable

22.34
<class 'float'>
whats ur name surya
surya
<class 'str'>
whats ur name 23
23
<class 'int'>

In [40]:
    #input and output functions

"to print multiple print statements in a single line we can use end" " statement  "

print("Welcome to", end = ' ')
print("my world")

print("hey there",end="\t")
print("this is surya")

a=input("whats 3+2 =")
b=print(("iktuk"))

Welcome to my world
hey there	this is surya
whats 3+2 =5
iktuk

In [45]:
      #eval expression

exp=input("enter the expression")
x=int(input("entre the calue of x"))
eval(exp)

enter the expressionx*4/x
entre the calue of x4

4.0

In [24]:
print("i am using python", end="\n")
print("its my first assignment")

i am using python
its my first assignment

In [26]:
a,b,c="bengalore","hyderabad","mysore"
print(a,b,c)

bengalore hyderabad mysore

In [28]:
   # to read the radius of a circle and display its area
  
r=float(input("enter the radius of the circle "))
area=3.14*r*r
print(area)

enter the radius of the circle 3
28.259999999999998

In [41]:
import math
a=34
b=print(bin(a))
c=print(hex(a))
d=print(oct(a))
e=print(math.sqrt(a))

0b100010
0x22
0o42
5.830951894845301

In [68]:
a=input("enter a number")
print("entered number is",a)
c=print(type(b),type(a))

enter a number5
entered number is 5
<class 'int'> <class 'str'>

In [51]:
print("   ohhh!!!",end="\n")
print("  what a python language is!!!",end="\n")
print("       its easy get started!")

   ohhh!!!
  what a python language is!!!
       its easy get started!

In [54]:
a=print("a",end='')
b=print("b",end='')
c=print("c",end='')
d=print("d",end='')
e=print("e",end='')
f=print("f",end='')

abcdef

In [67]:
a=int((input("enter a  number")))
b=int((input("enter a  number")))
c=a
a=b
b=c
print("value of a after swapping is",a)
print("value of b after swapping is",b)

enter a  number4
enter a  number5
value of a after swapping is 5
value of b after swapping is 4

 #expression, operator and operands

In [72]:
                #expression, operator and operands
                #a+b here a is 
                
#arithmetic operations

a=-6
b=8
c=print(a+b)
d=print(a-b)
e=print(a*b)
f=print(a/b)
g=print(a**b)
h=print(a%b)             #gives reminder
i=print(a//b)

2
-14
-48
-0.75
1679616
2
-1

In [80]:
             #assignment operation

a=5
b=4
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a**=b
print(a)
a//=b
print(a)
a%=b
print(a)

9
5
20
5.0
625.0
156.0
0.0

In [83]:
              #comparision operators

a=5
b=4
c=print(a>b)
d=print(a<b)
e=print(a==b)
f=print(a>=b)
g=print(a<=b)

True
False
False
True
False

In [86]:
            #logical operators

a="surya"
b=3
c=print(b and a)
d=print(b or a)

surya
3

In [88]:
          #bitwise operators
          #and, or, xor, rshift, lshift

a=9
b=4
c=print(a^b)
d=print(a>>b)
e=print(a<<b)

13
0
144

In [89]:
           #identity operator
           #is, isnot
x=5
print(x is 5)

True

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-89-9b72da19e953>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(x is 5)

In [ ]:
            #membership operator
            #in, Not in

In [94]:
              #formated output

# the %(string formatting) or {} can be used for formatting

age=21
name="surya"
year=2022

#method 1
print("the age of",name,"is",age,"in the year",year)

#method 2
print("the age of %s is %i in the year %i"%(name,age,year))

#method 3
print("the age of {} is {} in the year {}".format(name,age,year))

#method 4
print("the age of {0} is {1} in the year {2}".format(name,age,year))

the age of surya is 21 in the year 2022
the age of surya is 21 in the year 2022
the age of surya is 21 in the year 2022
the age of surya is 21 in the year 2022