<a href="https://colab.research.google.com/github/Surya-Thotamsetty/Pythonlearn/blob/main/python_day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#program to generate triangular number. for 5 its triangular number will be (1+2+3+4+5)=15

a=int(input("enter a number "))
triangularnum=0
for i in range(a,0,-1):
  triangularnum=triangularnum+i
print("triangular num is ",triangularnum)

enter a number 6
triangular num is  21

In [10]:
a=int(input("enter a number"))
sum=0
for i in range(0,a):
  sum=sum+i
print(sum)

enter a number6
15

In [16]:
for i in range(1,4,1):
  for j in range(1,4,1):
    print('i=',i,'j=',j,'i+j=',i+j)
  print("end of the program")

i= 1 j= 1 i+j= 2
i= 1 j= 2 i+j= 3
i= 1 j= 3 i+j= 4
end of the program
i= 2 j= 1 i+j= 3
i= 2 j= 2 i+j= 4
i= 2 j= 3 i+j= 5
end of the program
i= 3 j= 1 i+j= 4
i= 3 j= 2 i+j= 5
i= 3 j= 3 i+j= 6
end of the program

In [30]:
       #ROWS=OUTER LOOP AND COLUMN = INNER LOOP


for i in range(1,11):
  for j in range(1,6):
    print (format(i*j,'4d'),end='')
  print()
print("end of the program")

   1   2   3   4   5
   2   4   6   8  10
   3   6   9  12  15
   4   8  12  16  20
   5  10  15  20  25
   6  12  18  24  30
   7  14  21  28  35
   8  16  24  32  40
   9  18  27  36  45
  10  20  30  40  50
end of the program

In [51]:
#write a program to display the pattern of stars
for i in range(5,0,-1):
  for j in range(i):
    print('*',end=' ')
    i=i+1
  print()

* * * * *
* * * *
* * *
* *
*

In [52]:
for i in range(1,6):
  for j in range(i):
    print('*',end=' ')
    i=i+1
  print()

*
* *
* * *
* * * *
* * * * *

In [73]:
for i in range(1,7):
  for j in range(1,i):
    print(j,end=' ')
    i=i+1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [79]:
rows=5
for i in range(0, rows):
  for j in range(0, i + 1): 
    print(j+1, end=' ')   
  print(" ") 
#rows=5   
for i in range(rows+1, 0,-1):
  for j in range(0, i - 1): 
    print(j+1, end=' ')  
  print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [93]:
a=5
for i in range(0,a):
  for j in range(0,i+1):
    print(j+1,end=' ')
  print(" ")
for i in range(a,0,-1):
  for j in range(0,i-1):
    print(j+1,end=' ')
  print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
n = 5 
m = (2 * n) - 2  
for i in range(0, n):
  for j in range(0, m):
    print(end=" ")
  m = m - 1   
  for j in range(0, i + 1):  
    print("*", end=' ')  
  print(" ")

In [102]:
a="usa north america"
b="usa south america"
for letter in a:
  if letter in b:
    print(letter,end='')

usa orth america

In [103]:
a="surya mohan praju"
a.split()

['surya', 'mohan', 'praju']

In [1]:
a=[1,2,3,4,5]
a=[i+10 for i in a]
print(a)

[11, 12, 13, 14, 15]